<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Interop.Microsoft.Office.Interop.OneNote" version="1.1.0.0" targetFramework="net451" />
  <package id="Interop.Microsoft.Office.Interop.Publisher" version="2.2.0.0" targetFramework="net451" />
  <package id="Microsoft.Office.Interop.Access" version="15.0.4420.1017" targetFramework="net451" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net451" />
  <package id="Microsoft.Office.Interop.Graph" version="15.0.4420.1017" targetFramework="net451" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net451" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net451" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" />
</packages>